.about {
    height: 100px;
    overflow: hidden;
}

.btn-wrapper {
    margin-top: 10px;
}

.relative-element {
    position: relative;
    top: -80px
}

.img-0 {
    background: url("../images/aimia-hotel-majorca-p.jpg") no-repeat center;
    background-size: cover;
}

.img-1 {
    background: url("../images/2007d6dd4ca8f4b527d19c7baaefab7e.jpg") no-repeat center;
    background-size: cover;
}

.img-2 {
    background: url("../images/crystal-hotel-bodrum.jpg") no-repeat center;
    background-size: cover;
}

.img-3 {
    background: url("../images/sanchaya_heronew.jpg") no-repeat center;
    background-size: cover;
}

.img-4 {
    background: url("../images/skopelos-hotels-adrina-beach.jpg") no-repeat center;
    background-size: cover;
}

.img-5 {
    background: url("../images/images.jpeg") no-repeat center;
    background-size: cover;
}

.img-6 {
    background: url("../images/images (2).jpeg") no-repeat center;
    background-size: cover;
}

.img-7 {
    background: url("../images/images (1).jpeg") no-repeat center;
    background-size: cover;
}

.img-8 {
    background: url("../images/411049_xl.jpg") no-repeat center;
    background-size: cover;
}

.img-9 {
    background: url("../images/anantara-rasananda-koh-phangan-villas-thailand-p.jpg") no-repeat center;
    background-size: cover;
}

.img-10 {
    background: url("../images/hotel-nimb-exterior-copenhagen-prod.jpg") no-repeat center;
    background-size: cover;
}

.img-11 {
    background: url("../images/Party-in-Planetarium-Suite-Rooftop-Terrace-e1469603819575.jpg") no-repeat center;
    background-size: cover;
}

.booking-form {
    margin: 80px 35px;
}

.ml-2-5 {
    margin-left: 35px
}

.mt-2-5 {
    margin-top: 35px;
}

.slide {
    box-shadow: 0 0 20px black;
}