.spinning-sun {
    background: url("../images/sun-3.svg") no-repeat center;
    animation: App-logo-spin infinite 20s linear;
    height: 40px;
    width: 40px;
    display: inline-block;
    float: left;
    margin: 5px;
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    color: #FED102 !important;
    text-shadow: 0 0 3px #fff;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }